*{
    margin: 0;
    padding: 0;
}

#menu-btn{
    position: fixed;
    top:3px;
    left: 20px;
    background: white;
    border: none;
    font-size: 25px;
    cursor:pointer;
    z-index: 1001;
    
}
#menu{
    background-image: url(menu.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height:100vh;
    position: fixed;
    top:0;
    left: -100%;
    display: flex;
    flex-direction: column;
    padding: 80px 30px;
    gap:1px;
    transition: .4s ease;
    z-index: 1000;
    background-color:rgba(0, 0, 0, 0.712);
    overflow-y: auto;
   
}

#menu.ativo {
    left: 0; 
  
    
}


#menu a{
    text-decoration: none;
    display: flex;
    padding: 10px 10px;
    border-bottom: 1px solid #daa520;
    color:#EADDCF;
    font-size: 20px;
    
   
}
#menu h1{
    text-align: center;
    font-family:serif;
    color:#F5F1E8;
    
    
}
#menu p{
    color:#F5F1E8;
    font-size: 18px;
    text-align: center;
    padding-top: 20%;

}
#menu i{
    color:#daa520;
    margin-right: 10px;
    font-size: 15px;
   
}
.centralizar{
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 20%;
}
a:hover{
    background-color: #f5f1e841;
}

#fechar-menu{
    position: absolute;
    top:25px;
    font-size: 25px;
    padding: 3px 7px;
    border-radius: 50%;
    cursor:pointer;
    right: 30px;
    color:#daa520;
    background-color: transparent;
}
#overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display:none;
    transition: .4s;
    z-index: 999;
}
#overlay.ativo , #menu.ativo{
    display:block;
}

header{
display: flex;
background-color: #EED8BB;

}
header h1{
    margin-left: 120px;
    text-align: center;
    font-style:oblique;
    color:#5A3B2A;
    
   
}
header button{
 background-color: #F5F1E8;
 border: none ;
 font-size: 22px;
}
#menu-btn{
    color:black;
    background: transparent;
}
.hero{
    background-image: url(fundocigana.jpeg);
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;

}
.hero img{
    width: 100%;
    height: 200PX;
    
    display: block;
}
.hero h4{
    color:#F5F1E8;
    font-size: 20px;
    margin-left: 37px;
    margin-top: 10px;

}

.hero p{
    color:#EADDCF;
    margin-left: 10px;
    font-size: 12px;
    text-align: center;
    display: flex;
    
    margin-top:5px;
    margin-left: 27px;
    
}
.hero button{
 padding: 3px;
 font-size: 10px;

}
.agendar{
    color:#FFF8F0;
    background-color: #B05A42;
    margin-top: 18px;
    width: 190px;
    height: 27px;
    margin-left: 10px;
    border-radius: 10px;
    border:none;
}
.whats{
     color:#FFF8F0;
    background-color: #2F3A28;
    margin-bottom: 11px;
    width: 190px;
    height: 27px;
    margin-left: 10px;
    border-radius: 10px;
    border: none;
}
#sobre{
    background-image: url(WhatsApp\ Image\ 2026-08-02\ at\ 17.39.34.jpeg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    height: 276px;
   
}
#sobre p{
    width: 210px;
    padding: 0px;
    font-size: 11px;
    color:#5A3B2A;
    font-weight:bolder;
    padding-bottom: 80px;
    margin-top: 57px;
    padding-left: 25px;
   
}
.como{
    background-image: url(textura-papel-antiguo_762785-169933.avif);
    background-repeat: no-repeat;
    background-size: cover;
    color:#daa520;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    text-align: center;
    margin-top: -10px;
    padding-bottom: 12px;
    
}
.como h3{
    color:#5A3B2A;
    font-size: 14px;
    text-align: center;
    margin-left: 132px;
}
.como h4{
    color:#B8863B;
    border: 1px solid;
    border-radius: 50%;
    width:20px ;
    height: 20px;
    margin-left: 40px;
     
}
.como h5{
    color:#5A3B2A;
}
.como i{
    margin-top: 30px;
    margin-left: -19px;
}
.como p{
    color:#B8863B;

}
.passos{
    display: flex;
    justify-content: space-between;
    GAP:4PX;
}
.passo{
    border: 1px solid #9A6A2F;
    color:#B8863B;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    
}
.precos{
    display: flex;
    flex-wrap: wrap;
    gap: 7px;
    text-align: center;
    background-image: url( fundocards.webp);
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
}
.precos h2{
    margin-left:10px;
    margin-top: 18px;
    font-size:17px ;
    color:#FFF8F0;
}
.avulso{
    
    padding:14px;
    background-image: url(Cards.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 10px;
    width: 80px;
    color:black;
   
}
.precos H1 {
    color:#B8863B;
}
.precos button{
    background-color:#722F37 ;
    color:#FFF8F0;
    padding: 3px;
    margin-top: 3px;
    border-radius: 10px;
}
.precos ,.titu{
    color:#FFF8F0;
}