*{
    margin: 0;
    padding: 0;
}
#menu{
    display: none;
   
}
#menu.ativo{
    display: flex;
    flex-direction: column;
}
.menu-btn{
   
}
header{
display: flex;
background-color: #ebcfa2;

}
header h1{
    margin-left: 80px;
    text-align: center;
    font-style:oblique;
    color:#2D241E;
   
}
header button{
 background-color: #ebcfa2;
 border: none ;
 font-size: 22px;
}
.hero{
    background-image: url(fundocigana.jpeg);
    background-size: cover;
    background-position: center;

}
.hero img{
    width: 100%;
    height: auto;
    display: block;
}
.hero h4{
    color:#eeebe9;
    font-size: 20px;
    margin-left: 10px;
    
}

.hero p{
    color:beige;
    margin-left: 10px;
    
}
.hero button{
 margin-bottom: 6px;
 margin-top: 7px;
 height: 20px;
 margin-left: 20px;
}